.div{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.div p{
    color: rgb(235, 233, 233);
    position: absolute;
    font-size: 250px;
    line-height: 250px;
    font-weight: bold;
}

.div p:nth-child(2){
    color: rgb(81, 173, 226);
    //clip-path: polygon(0 48%, 7% 40%, 19% 35%, 32% 35%, 43% 40%, 50% 48%, 58% 55%, 68% 57%, 79% 54%, 89% 50%, 95% 46%, 100% 38%, 100% 100%, 0% 100%);
    animation: wave 8s ease-in-out infinite;
}

@keyframes wave {
    0%, 100%{
        clip-path: polygon(0 48%, 7% 40%, 19% 35%, 32% 35%, 43% 40%, 50% 48%, 58% 55%, 68% 57%, 79% 54%, 89% 50%, 95% 46%, 100% 38%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 44%, 8% 53%, 18% 57%, 28% 59%, 38% 57%, 49% 53%, 55% 46%, 65% 42%, 74% 39%, 85% 42%, 93% 48%, 100% 57%, 100% 100%, 0% 100%);
    }
}